@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 20px 32px 20px;

    order: 10;
    flex-grow: 1;
    margin: 0px 0px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;

    /* Inside Auto Layout */
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
  }

  .Newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */

    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 40px 0px;
  }

  .Actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */

    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 40px 0px;
  }

  .Actions .Form {
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .Actions p {
    text-align: center;
  }

  .card .Links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */

    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 40px 0px;
  }

  .Row {
    flex-direction: column;
    align-items: center;
  }

  .Row .Footer-Links {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    /* Inside Auto Layout */

    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }

  .Blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 20px 64px 20px;

    /* Inside Auto Layout */

    order: 9;
    flex-grow: 1;
    margin: 0px 0px;
  }

  /* Section Title */
  .Blog .Section-Title {
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 40px 0px;
  }

  .Blog .Row {
    position: static;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    order: 0;
    align-self: stretch;
    margin: 24px 0px;
  }

  .Blog .Row .Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    align-self: stretch;
    margin: 32px 0px;
  }

  .Card img {
    align-self: stretch;
  }

  .FAQ {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 20px 64px 20px;

    /* Inside Auto Layout */
    margin: 0px 0px;
  }

  body .CTA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 20px 64px 20px;

    /* Inside Auto Layout */

    order: 8;
    flex-grow: 1;
    margin: 0px 0px;
  }

  /* .CTA-Content .Frame-65 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  } */

  .CTA-Content .Frame-65 img {
    width: 160px;
    height: 58px;
    margin: 0px 16px;
  }

  .CTA-Content .Frame-65 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(29, 30, 28);
    font-family: Pretendard;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
}
